In [1]:
import pandas as pd

In [13]:
bank_df = pd.read_csv('bank.csv', sep=',')
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN,no
1,36,technician,single,secondary,no,265,yes,yes,NaN,5,may,348,1,-1,0,NaN,no
2,25,blue-collar,married,secondary,no,-7,yes,no,NaN,5,may,365,1,-1,0,NaN,no
3,53,technician,married,secondary,no,-3,no,no,NaN,5,may,1666,1,-1,0,NaN,no
4,24,technician,single,secondary,no,-103,yes,yes,NaN,5,may,145,1,-1,0,NaN,no

In [14]:
print(bank_df.shape)

(7234, 17)

## 欠損値の除外

### 欠損値が少ないカラムの、欠損している行を除外する

In [15]:
bank_df = bank_df.dropna(subset=['job', 'education'])
print(bank_df.shape)

(6935, 17)